.nav-add {
	margin-bottom:0;
}
.header-add {
	background-color: #333;
    color: #efefef;
}
.header-index {
	background-color: #333;
    color: #efefef;
    text-align: center;
    margin:0;
    padding:17.8% 0 17.8% 0;
}
.header-index h1 {
	font-size:3em;
}
.header-index p {
	font-size:1.8em;
}
.fa-add {
	padding-right:10px;
	margin-right:5px;
	border-right:1px solid white;
}
.error-body {
	height:100%;
	overflow: hidden;
}
.error-body .header-add {
	height:100%;
}
.blog .list-group{
	margin-bottom:0;
}
.index-body{
	background-color: #333
}