footer {
	background:#222222;
	color:white;
	text-align: center;
	padding:20px 0 20px 0;
}
.tombol-tambah a {
	width:80%;
	height:auto;
}
.tombol-tambah {
	padding:20px 0 20px 0;
	border:1px solid #efefef;
	text-align: center;
	margin-bottom:20px;
}
.tombol-hapus {
	margin:0px 5px 0px 5px;
}
.tombol-edit {
	float:left!important;
}
.tombol-panjang {
	width:100%;
	height: auto;
}
.table-modified tbody {
	background:#efefef;
}
.tengah {
	text-align: center;
}